.categories {
    color: white;
    padding: 48px 0;
    gap: 12px;
}

.box {
    width: 100%;
    flex: 1;
    height: 476px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.categories .text-overlay {
    position: absolute;
    inset: 0;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16%;
    margin-bottom: 32px;
}

/* Mobile */
@media (max-width: 768px) {
    .categories {
        flex-direction: column;
        padding: 28px 0;
        width: 90%;
    }

    .box {
        flex: auto;
        height: 200px;
    }

    .categories .text-overlay {
        justify-content: center;
        gap: 0;
    }
}