.info-section {
    padding: 144px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info-inner {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    gap: 20px;
}

.info-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.info-icon {
    width: 60px;
}

.info-row:not(:last-child) {
    border-right: #C4C4C4 2px solid;
}

@media (max-width: 1024px) {
    .info-section {
        grid-template-columns: repeat(2, 1fr);
        padding: 46px 20px;
    }

    .info-icon {
        width: 40px;
        height: 40px;
    }

    .info-inner {
        width: 100%;
        align-items: center;
    }

    .info-row:not(:last-child) {
        border-right: none;
    }
}

@media (max-width: 768px) {
    .info-section p {
        font-size: 12px;
    }
}