html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body,
button,
input,
li {
    font-family: 'Montserrat';
}

p,
a {
    font-size: 14px;
    font-weight: 500;
}

h2 {
    font-size: 36px;
}

button {
    cursor: pointer;
}

.main-btn {
    color: black;
    background-color: white;
    padding: 20px 92px;
    font-family: 'montserrat';
}

.header,
.header-inner,
.header-logo,
.navigation,
.nav-container,
.cart,
.search-box,
.categories,
.text-overlay,
.nabidka,
.nabidka-inner,
.nabidka-box,
.nabidka-text-overlay,
.nabidka-btn,
.product-container,
.product-list,
.product-card,
.cart-box,
.blog,
.blog-inner,
.newsletter-section,
.footer-inner,
.footer-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Header */
.header {
    flex-direction: row;
    justify-items: center;
    background-color: white;
    height: 122px;
    width: 100%;
}

.header-inner {
    max-width: 1400px;
    margin: auto;
    flex-direction: row;
}

.logo {
    font-weight: 500;
    background-color: #E9E9E9;
    padding: 24px 80px;
    margin-right: 120px;
}

/* Nav */
.navigation {
    margin-right: 80px;
}

.nav-container {
    padding: 0 20px;
}

.nav-link {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.nav-item {
    position: relative;
}

.nav-container>.nav-item {
    list-style: none;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

.dropdown a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    background-color: #E9E9E9;
}

.nav-item:hover .dropdown {
    display: block;
}

.cart {
    flex-direction: row;
    gap: 8px;
    font-weight: 500;
}

.cart .count {
    color: #8E8E8E;
    border: 1px solid;
    border-radius: 50%;
    padding: 4px 8px;
}

.lang {
    position: relative;
}

.lang .dropdown {
    min-width: 80px;
}

.search-box {
    border-bottom: solid 1.5px #C9C9C9;
}

.search-box img,
.search-box button,
.search-box input {
    border: none;
    background: white;
    font-family: 'Montserrat';
    font-weight: 500;
}

.search-box,
.lang,
.cart {
    margin-right: 40px;
}





/* Hero section */
.hero {
    position: relative;
    background-image: url('./assets/img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.hero h1 {
    font-size: 36px;
}

.hero h3 {
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
}

.hero .main-btn {
    border: none;
}

/* Category boxes */
.categories {
    max-width: 1400px;
    margin: auto;
    color: white;
    padding: 46px 0;
    gap: 12px;
}

.box {
    width: 466px;
    height: 476px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.categories .text-overlay {
    position: absolute;
    inset: 0;
    padding: 20px;
    flex-direction: column;
    gap: 40px;
}

.categories .text-overlay h2 {
    font-size: 36px;
}

.categories .main-btn {
    border: none;
}

.nabidka {
    flex-direction: column;
    background-color: black;
    width: 100vw;
    position: absolute;
}

.nabidka h2,
.blog h2,
.newsletter-section h2 {
    color: white;
    font-size: 36px;
    font-weight: 400;
    padding: 40px 0;

}

.nabidka-inner {
    max-width: 1400px;
    position: relative;
    margin-bottom: -250px;
}

.nabidka-box {
    width: 361px;
    height: 610px;
    align-items: end;
    justify-content: flex-start;
    position: relative;
}

.nabidka-text-overlay {
    text-align: left;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 32px;
    margin-bottom: 120px;
    gap: 20px;
    z-index: 2;
}

.nabidka-text-overlay p,
.nabidka-text-overlay h2 {
    font-weight: 300;
    margin: 0;
}

.nabidka-box::before,
.blog-post::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.nabidka-box:hover::before,
.blog-post:hover::before {
    background-color: #ECB235B2;
    cursor: pointer;
}


.nabidka-btn {
    position: relative;
    top: 188px;
    left: 578px;
    z-index: 5;
    height: 118px;
    width: 243px;
    background-color: #ECB235;
    border: none;
    gap: 12px;
}

/* Produkty */
.product-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    margin-top: 900px;
}

.product-list {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

.product-card {
    width: 320px;
    border: 1px white solid;
    justify-content: space-between;
}

.tabs {
    padding: 40px;
}

.tab {
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 5px;
    background: white;
    border: none;
    font-size: 16px;
    color: #979797;
}

.tab.active {
    font-size: 24px;
    color: black;
}

.product-card img {
    max-width: 100%;
    height: auto;
    width: 345px;
    height: 384px;
}

.product-card {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 8px;
}

.product-card:hover {
    border: solid 1px #C4C4C4;
}

.product-card h3 {
    font-size: 18px;
    max-width: 90%;
}

.flags {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: flex-end;
    margin-bottom: 465px;
    text-align: end;
    gap: 8px;
    justify-content: flex-start;
}

.flag {
    color: white;
    padding: 2px 8px;
    text-align: center;
}

.flag-novinka {
    background-color: #63DA46;
}

.flag-vyprodej {
    background-color: #F24D4D;
}

.flag-tip {
    background-color: rgb(62, 148, 245);
}

.product-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.product-text .icon {
    width: 24px;
    height: auto;
    padding: 0 24px;
}

.cart-box {
    background-color: black;
    cursor: pointer;
}


/* Blog */
.blog {
    background: black;
    width: 100%;
    flex-direction: column;
}

.blog-inner {
    width: 100%;
    max-width: 1400px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 80px;
}

.showmore {
    margin-bottom: 80px;
}

.blog-post {
    color: white;
    position: relative;
}

.blog-1,
.blog-2,
.blog-3,
.blog-4 {
    width: 32%;
    height: 336px;
}

.blog-5 {
    width: 65%;
    height: 336px;
}

.blog-text {
    z-index: 5;
    position: absolute;
    text-align: left;
    margin: 180px 0 0 40px;
    gap: 20px;
}

.blog-text h3 {
    margin: 8px 0;
    font-size: 36px;
    font-weight: 400;
}

.post-date p {
    margin: 0;
}

.post-meta {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.post-author {
    display: flex;
    gap: 4px;
}

.blog-btn {
    position: relative;
    top: -139px;
    left: 564px;
    z-index: 5;
    height: 118px;
    width: 243px;
    background-color: #ECB235;
    border: none;
    gap: 12px;
}


/* Info boxes */
.info-section {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 100px 0;
    justify-content: center;
}

.info-inner {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    gap: 20px;
}

.info-text {
    display: flex;
    align-items: center;
    font-size: 18px
}

.info-icon {
    width: 60px;
}

.info-row:not(:last-child) {
    border-right: #C4C4C4 2px solid;
}


/* Newsletter */
.newsletter-section {
    background-color: #ECB235;
    padding-bottom: 80px;

}

.newsletter-section form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.newsletter-section form input {
    height: 117px;
    display: flex;
    text-align: center;
    width: 500px;
    border: white;
}

.newsletter-section form button {
    background-color: black;
    color: white;
    padding: 40px;
}

.newsletter-section form button img {
    margin-left: 40px;
}


/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 100px 0;
}

.footer-inner {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: start;
     max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-logo {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    justify-content: start;
}

.footer-column {
    text-align: left;
    margin: 40px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin: 12px 0;
}

.footer-column a {
    text-decoration: none;
    color: white;
}

.contact-phone,
.contact-email,
.social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0;
}

.copy {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
}

.create {
    display: flex;
    gap: 12px;
    align-items: center;
}

.create img {
    width: 31px;
    height: 26px;
}